.developer-container {
  background-color: gainsboro;
  border: solid black 1px;
  margin: auto 2vw;
}

.developer-profile {
  height: 200px;
  background-color: ghostwhite;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 5px;
  border: solid black 1px;
}

.dev-title {
  font-weight: bold;
}

.developerBio {
  font-style: italic;
}

.dev-contact-button {
  background-color: #5cb85c;
  color: white;
  border-radius: 8%;
  margin: auto;
  margin-top: 3%;
  height: 30px; 
}

.button-wrapper-dev {
  display: flex;
  align-items: center;
}
