.contact-form-container {
    display: flex;
    flex-direction: column;
    /* max-width: 50vw; */
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.contact-form-item {
    margin-bottom: 20px;
}