.navbar-wrapper {
  display: flex;
  width: 100vw;
}
.navbar-endpoint-group {
  justify-content: flex-end;
}
.navbar-home-link {
  padding-right: 5vw;
  cursor: pointer;
  justify-content: space-between;
}

.navbar-item {
  padding: 0 2vw;
  cursor: pointer;
}

.App {
  text-align: center;
}
